* {
  font-family: "JetBrains Mono Nerd Font";
}

window#waybar {
  background: rgba(0, 0, 0, 0.6); 
}

tooltip {
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.6);
}

#workspaces button {
  color: slategray;
  margin-right: -7px;
}

#workspaces button.active {
  color: white;
  font-weight: bold;
}

#window {
  color: white;
}

#network {
  color: white;
  margin-right: 12px;
}

#battery {
  color: white;
  margin-right: 15px;
}

#battery.charging, #battery.plugged {
	color: palegreen;
}


#battery.critical:not(.charging) {
    color: lightcoral;
}

#pulseaudio {
  color: white;
  margin-right: 25px;
}

#clock {
  color: white;
  font-weight: bolder;
  margin-right: 8px;
}

