// NIRI CONFIG

// INPUT
input {
    keyboard { xkb {}; numlock; }
    touchpad { tap; natural-scroll; }
    mouse {}
}

// MONITORS
output "DP-1" {
    mode "2560x1440@239.970"
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    scale 1
    transform "270"
    position x=2560 y=0
}

// LAYOUT
layout {
    gaps 10
    center-focused-column "never"
    preset-column-widths {
        proportion 0.25
        proportion 0.5
        proportion 0.75
    }

    default-column-width { proportion 0.85; }
    focus-ring { off; }

    border {
        width 3
        active-color "#83a598"
        inactive-color "#363636"
    }

    struts { top 0; }
}

// STARTUP
spawn-at-startup "noctalia-shell"
hotkey-overlay { skip-at-startup; }


// WINDOW RULES

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

// Rounded corners
window-rule {
    geometry-corner-radius 7
    clip-to-geometry true
}

// No border background
window-rule {
    draw-border-with-background false
}


// BINDS
binds {

    // Open applications
    Mod+T { spawn "alacritty"; }
    Mod+M { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+P { spawn "noctalia-shell" "ipc" "call" "sessionMenu" "toggle"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    // Function keys
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    // Navigate betweeen columns
    Mod+Left  { focus-column-left; }
    Mod+H     { focus-column-left; }

    Mod+Right { focus-column-right; }
    Mod+L     { focus-column-right; }

    // Navigate between workspaces
    Mod+Down  { focus-window-down; }
    Mod+J     { focus-workspace-down; }

    Mod+Up    { focus-window-up; }
    Mod+K     { focus-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    
    // Move columns
    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+H     { move-column-left; }

    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Ctrl+Down  { move-column-to-workspace-down; }
    Mod+Ctrl+J     { move-column-to-workspace-down; }

    Mod+Ctrl+Up    { move-column-to-workspace-up; }
    Mod+Ctrl+K     { move-column-to-workspace-up; }

    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Mouse binds
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }


    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // 2ND MONITOR BINDS
    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H     { focus-monitor-left; }
    Mod+Shift+L     { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+H     { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+L     { move-column-to-monitor-right; }

    // Resize columns
    Mod+R { switch-preset-column-width; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    // Misc
    Mod+Shift+P { power-off-monitors; }
}